*{
  margin: 0;
  padding: 0;
}

.error {
  color: red;
}

.future {
  color: gray;
}

.success {
  color: green;
}

.main {
  height: 40vh;
  width: 100%;
  text-align: center;
  align-items: center;
  padding-top: 100px;
}

.main h2 {
  padding-top: 100px;
}

.result {
  display: flex;
  justify-content: center;
  text-align: center;
}



.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-top: 40px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.how-to-play {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.how-to-play__items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.how-to-play__item {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;



}